<section>
    <h2></h2>
    <button type="button" class="control-button-next">Next</button>
    <button type="button" class="control-button-prev">Prev</button>
    <ul class="test-div-list">
        <li><div class="test-div">1</div></li>
        <li><div class="test-div">2</div></li>
        <li><div class="test-div">3</div></li>
        <li><div class="test-div">4</div></li>
    </ul>
    <img src="" alt="">
    <p>I have a</p>
    <form action="">
        <input type="radio" name="" id="">
        <input type="radio" name="" id="">
        <input type="radio" name="" id="">
    </form>
    <p>home.</p>
    <button type="button"></button>
</section>