<section class = "section-device-list" >
    <h2 class = "section-device-list__title" hidden>Devise list</h2>
    <div class="section-device-list__container">
        <ul class = "devise-list">
            <li class="devise-list__item-1">
                <span class="devise-list__span">WI-FI 6</span>
                <p class="devise-list__text1">eero Pro 6</p>
                <p class="devise-list__text2 devise-list__text2--l">The fastest eero yet.</p>
                <p class="devise-list__text3">Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections. </p>
                <p class="devise-list__text4">Starting at $229</p>
                <button class = "devise-list__button" type="button">shop now</button>
            </li>
            <li class="devise-list__item-2">
                <span class="devise-list__span">WI-FI 6</span>
                <p class="devise-list__text1" >eero 6</p>
                <p class="devise-list__text2 devise-list__text2--r" >Experience Wi-Fi 6—the new standard for home wifi.</p>
                <p class="devise-list__text3" >Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet connections.</p>
                <p class="devise-list__text4" >Starting at $129</p>
                <button class = "devise-list__button" type="button">shop now</button>
            </li>
        </ul>
        <a class="section-device-list__link" href="">Compare All Models</a>
    </div>
</section>