<section>
    <h2>Devise list</h2>
    <ul>
        <li>
            <span>WI-FI 6</span>
            <p>eero Pro 6</p>
            <p>The fastest eero yet.</p>
            <p>Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections. </p>
            <p>Starting at $229</p>
            <button type="button">shop now</button>
        </li>
        <li>
            <span>WI-FI 6</span>
            <p>eero 6</p>
            <p>Experience Wi-Fi 6—the new standard for home wifi.</p>
            <p>Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet connections.</p>
            <p>Starting at $129</p>
            <button type="button">shop now</button>
        </li>
    </ul>
    <a href="">Compare All Models</a>
</section>