<header>
  <p class="text-ship"><span class="text-ship-span">Free 2-day shipping | 30-day money back guarantee</span></p>
  <nav class="nav-container">
    <a class="icon" href="./index.html"><img src="images/logo.png" alt="логотип eero" /></a>


    <ul class="header-text-list">
      <li class=""><a class="header-text-item" href="">Products</a></li>
      <li class=""><a class="header-text-item" href="">How it works</a></li>
      <li class=""><a class="header-text-item" href="">Technology</a></li>
      <li class=""><a class="header-text-item" href="">eero Secure</a></li>
      <li class=""><a class="header-text-item" href="">Support</a></li>
      <li class=""><a class="header-text-item" href="">Find your system</a></li>
    </ul>


    <a class="header-btn" href="">shop</a>
  </nav>
</header>