<header>
  <p class="text-ship">Free 2-day shipping | 30-day money back guarantee</p>

  <a class="icon" href=""><img src="" alt="логотип eero" /></a>

  <nav>
    <ul class="header-text-list">
      <li class=""><a class="header-text-item" href="">Products</a></li>
      <li class=""><a class="header-text-item" href="">How it works</a></li>
      <li class=""><a class="header-text-item" href="">Technology</a></li>
      <li class=""><a class="header-text-item" href="">eero Secure</a></li>
      <li class=""><a class="header-text-item" href="">Support</a></li>
      <li class=""><a class="header-text-item" href="">Find your system</a></li>
    </ul>
  </nav>

  <a class="header-btn" href="">shop</a>
</header>
