<section class="opportunities">
  <div class="opport container">
    <h2 class="opport__title">Give your home the connectivity it deserves.</h2>
    <p class="opport__text">
      Say goodbye to dead spots, drop-offs, and buffering—even when the whole family is online. With
      eero, a simple and reliable connection is a given. Get a consistently strong signal for
      streaming, gaming, and working from every part of your home.
    </p>
    <img
      class="opport__picter"
      srcset="../images/Rectangle.jpg 1x, ../images/Rectangle@2x.jpg 2x"
      src="../images/Rectangle.jpg"
      alt="Релаксирующий афроамериканец"
      width="1008px"
      height="569px"
    />

    <img src="" alt="" />
  </div>
</section>
