<section class="opportunities container">
  <h2 class="opportunities__tittle">Give your home the connectivity it deserves.</h2>
  <p class="opportunities__text">
    Say goodbye to dead spots, drop-offs, and buffering—even when the whole family is online. With
    eero, a simple and reliable connection is a given. Get a consistently strong signal for
    streaming, gaming, and working from every part of your home.
  </p>
  <div class="opportunities__image">
    <img src="images/Relax_men.jpg" alt="Confident internet user" />
  </div>
</section>
