<section class="potential">
  <div class="container potential__wrap">
    <ul class="potential__list list">
      <li class="potential__item">
        <svg class="potential__icon">
          <use href="images/potential-sprite.svg#icon-lamp"></use>
        </svg>
      </li>
      <li class="potential__item">
        <svg class="potential__icon">
          <use href="images/potential-sprite.svg#icon-onoff"></use>
        </svg>
      </li>
      <li class="potential__item">
        <svg class="potential__icon">
          <use href="images/potential-sprite.svg#icon-wifi"></use>
        </svg>
      </li>
    </ul>
    <h2 class="potential__title">Unlock your wifis potential.</h2>
    <p class="potential__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, rem repellendus eos autem
      voluptates dolore saepe excepturi unde nulla, provident officiis nihil, veritatis numquam! Rem
      veritatis enim deserunt aperiam sed.
    </p>
    <button class="potential__button" type="button">Learn More</button>
    <ul class="potential__slider-point">
      <li class="potential__slider-img">
        <svg class="potential__spot">
          <use href="images/potential-sprite.svg#icon-rectangle"></use>
        </svg>
      </li>
      <li class="potential__slider-img">
        <svg class="potential__spot">
          <use href="images/potential-sprite.svg#icon-rectangle"></use>
        </svg>
      </li>
      <li class="potential__slider-img">
        <svg class="potential__spot">
          <use href="images/potential-sprite.svg#icon-rectangle"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
