<section class="potential">
  <div class="potential__wrap">
    <ul class="potential__list list">
      <li class="potential__item">LI1</li>
      <li class="potential__item">LI2</li>
      <li class="potential__item">LI3</li>
    </ul>
    <h2 class="potential__title">Unlock your wifis potential.</h2>
    <p class="potential__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, rem repellendus eos autem
      voluptates dolore saepe excepturi unde nulla, provident officiis nihil, veritatis numquam! Rem
      veritatis enim deserunt aperiam sed.
    </p>
    <button class="potential__button" type="button">Learn More</button>
  </div>
</section>
