<section class="truemash">
  <h2 class="truemash__title">TrueMesh covers your whole home.</h2>
  <p class="truemash__text">
    TrueMesh learns the layout of your home to intelligently route traffic and optimize your</br> wifi.
    eero 6 and eero Pro 6 are the first Wi-Fi 6 routers with eero’s TrueMesh technology.
  </p>
  <div class="button">
    <button class="truemash__button" type="button">See how it works</button>
  </div>

  <div class="image">
    <img src="images/wifioptimyze.png" alt="wifi optimyze" />
  </div>
</section>