.section{

    
}

.section_description{
    margin-bottom: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.15;
    text-align: center;
    color: #404040;

    
}
.section__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;

    color: #404040;

}
.section__link{
    background-color: 
    rgba(255, 255, 255, 1);
}

.section_btn{
    border: none;
}

.section__logo{
    display: block;
    width: 108px;
    height: 33px;

    margin-bottom: 27px;
}