.opport{

&__title{
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
     text-align: center;
     color: #404040;
}

&__text{
font-size: 18px;
line-height: 1.4;
text-align: center;
color: #404040;
}

&__picter{
    
}

}