.wifi-devices {
  &__title {
    margin: 0 auto 44px;
    width: 729px;
    font-size: 50px;
    line-height: 1.2;

    text-align: center;

    color: #404040;
  }
  &__text {
    margin: 0 auto 78px;
    width: 736px;
    font-size: 18px;
    line-height: 1.4;

    text-align: center;

    color: #404040;
  }

  &__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 17px 37px 21px 37px;
    min-width: 244px;
    height: 52px;

    font-size: 14px;
    line-height: 1;

    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #2468ff;

    border-color: transparent;
    border-radius: 0px;
    cursor: pointer;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
